<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ExpressChat</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/dark.css" media="(prefers-color-scheme: dark)" />
  </head>
