<%- include('partials/header'); %>
<div id="main" class="error404">
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col text-center pt-5">
        <h1><%= error.status %></h1>
        <h4><%= message %></h3>
      </main>
    </div>
  </div>
</div>
<%- include('partials/footer'); %>
