<%- include('partials/head'); %>
<%- include('partials/home_nav.ejs'); %>
<div class="container-xl mt-5">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <h1>ExpressChat</h1>
      <p class="text-lg lead">Secure chat for your team, friends and organizations. ExpressChat is an open-source project licensed under ISC License.</p>
      <div class="d-flex flex-wrap justify-content-center justify-content-md-start mx-n2">
        <a class="btn btn-fg btn-lg rounded-pill font-weight-bold px-4 py-2 m-2" href="/welcome">Open ExpressChat</a>
        <a class="btn btn-bg btn-lg rounded-pill font-weight-bold px-4 py-2 m-2" href="/features">Learn more</a>
      </div>
      <p class="text-muted lead">Supports Firefox, Chromium and Safari.</p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="/images/undraw/undraw_work_chat_erdt.svg" />
    </div>
  </div>
</div>
<%- include('partials/script'); %>
