<%- include('partials/head'); %>

<div class="login d-flex justify-content-center align-items-center w-100 h-100">
  <div class="bg d-flex flex-column text-center shadow-lg p-5">
    <h2>Welcome to ExpressChat!</h2>
    <p>A fairly <em>decent</em> chat experience™</p>
    <div class="d-flex flex-column flex-md-row justify-content-center m-n2">
      <a class="btn btn-primary m-2" href="/app">
        <span class="fas fa-sign-in-alt"></span> Log in
      </a>
      <a class="btn btn-success m-2" href="/app">
        <span class="fas fa-plus-square"></span> Create account
      </a>
    </div>
  </div>
</div>

<%- include('partials/script'); %>
