@import "node_modules/bootstrap/scss/bootstrap";
@import "./_inter";

$fa-font-path: "/fonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";


:root {
  --bg: #fff;
  --bg-alt: #ece8ee;
  --bg-alt-alt: #ccc;
  --fg: #222;
  --fg-alt: #555;
  --fg-alt: #777;
}


html, body { height: 100%; }
body {
  font-family: Inter, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  line-height: 1.5;
}

pre { color: var(--fg); }

summary {
  display: block;
  &::-webkit-details-marker { display: none; }
  &:focus { outline: none; }
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}



/*
 * Login/Register page
 */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) url("/images/unsplash/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg") repeat fixed center center / cover;
  @include media-breakpoint-up(md) {
    .btn { width: 100%; }
  }
}

.login-box {
  background: var(--bg);
  box-shadow: $box-shadow-lg;
  padding: 3rem;
  width: 500px;
}


/*
 * App page
 */

.app {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-columns: minmax(1px, 1fr);
  @include media-breakpoint-up(sm) {
    grid-template-columns: 210px minmax(1px, 1fr);
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: 270px minmax(1px, 1fr);
  }

  scrollbar-color: transparent transparent;
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }
}

#account-settings-container {
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 3rem;
  @include media-breakpoint-down(xs) {
    padding: 1rem;
  }
}

.settings {
  @extend .app;
  background-color: var(--bg);
  border-radius: 0.75rem;
  grid-template-columns: min-content minmax(1px, 1fr);
  @include media-breakpoint-down(xs) {
    #sidebar {
      font-size: 25px;
    }
  }
}

@include media-breakpoint-up(sm) {
  #sidebar {
    grid-column: 1 / 2;
  }
  #main {
    grid-column: 2 / 3;
  }
}


/* Sidebar */

.sidebar-option {
  color: var(--fg);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: $spacer*.25 $spacer*.75;
  margin: $spacer*.25 0;
  user-select: none;
  white-space: nowrap;
  &:hover {
    background: var(--bg-alt-alt);
    color: var(--fg);
    text-decoration: none;
  }
  &.selected { background: var(--bg-alt-alt); }
}

.sidebar-dropdown {
  position: absolute;
  white-space: nowrap;
  background: var(--bg-alt-alt);
  border-radius: 0.75rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-top: $spacer*.5;
  }
  @include media-breakpoint-up(sm) {
    max-width: 20rem;
    left: 80%;
  }
}

.sidebar-dropdown-item {
  display: block;
  padding: $spacer*.75 $spacer*1.5;
  color: var(--fg);

  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-dropdown-link {
  @extend .sidebar-dropdown-item;
  &:hover {
    background-color: var(--bg-alt);
    color: var(--fg);
    text-decoration: none;
  }
  &:last-child {
    border-bottom-right-radius: $spacer*.75;
    border-bottom-left-radius: $spacer*.75;
  }
}


.mainbox {
  max-width: 800px;
}

#message-box-ui {
  cursor: text;
  max-height: 10rem;
  word-wrap: break-word;
  width: 100%;
  &:empty:before {
    content: "Write a message…";
    color: var(--gray);
  }
}


/*
 * Missing utility/component classes from Bootstrap
 */


.bg { background: var(--bg) !important; }
.bg-alt { background: var(--bg-alt) !important; }
.bg-alt-alt { background: var(--bg-alt-alt) !important; }
.bg-hover:hover { background: var(--bg) !important; }
.bg-hover-alt:hover { background: var(--bg-alt) !important; }
.bg-hover-alt-alt:hover { background: var(--bg-alt-alt) !important; }

.resize-none { resize: none; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-auto { overflow-y: auto; }
.font-weight-semibold { font-weight: 500; }

.flex-scroll-y {
  flex: 1 1 0;
  overflow-y: auto;
}

.scrollbar:hover {
  scrollbar-color: var(--bg) transparent;
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg);
  }
}

.scrollbar-alt:hover {
  scrollbar-color: var(--bg-alt) transparent;
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-alt);
  }
}

.scrollbar-alt-alt:hover {
  scrollbar-color: var(--bg-alt-alt) transparent;
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-alt-alt);
  }
}

.btn-fg {
  background-color: var(--fg);
  color: var(--bg);
  &:hover, &:active {
    background-color: var(--fg-alt);
    color: var(--bg);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--bg-alt);
  }
}

.btn-bg {
  background-color: var(--bg-alt);
  color: var(--fg);
  &:hover, &:active {
    background-color: var(--bg-alt-alt);
    color: var(--fg);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--bg-alt);
  }
}




/*
 * Idiotic Bootstrap defaults
 */

// You can't tell the difference between sm and lg
.rounded-lg {
  border-radius: 0.5rem !important;
}

// We don't want dark text in dark theme
.text-body {
  color: var(--fg) !important;
}
